footer(class=pagename)
  a(class='buttonleft' href='/') 
    img(src="/icons/back.png")
  a(class='buttonright' href= toParent + 'settings') 
    img(src="/icons/settingsbutton.png")
  a(class='buttonright' href='/closet') 
    img(src="/icons/camera.png")
