nav.internal
  a(class='iconhome' href= toParent + 'dashboard')
    img(src="/icons/smallicon.png")
  .widgets
    if (pagename === 'dashboard')
      include weather
      include calendar
  a(name='dashboard' class='navlinks' href= toParent + "dashboard") Dashboard
  a(name='closet' class='navlinks' href= toParent + "closet") Closet
  a(class='navlinks' href= toParent + "settings") More
  a(name='logout' class='navlinks' href= "/logout") Logout
