nav.internal(role='navigation')
  a.iconhome(href="/" + username + "/dashboard")
    img(src='/icons/smallicon.png' alt='Fit of the Day badge logo')
  .navlinks
    a(class='' href="/" + username + "/dashboard") Dashboard
      span
        img(src='/icons/homeicon.png' width='20' height='20')
    a(class='' href="/" + username + "/closet") Closet
      span
        img(src='/icons/folder.png' width='20' height='20')
    a(class='' href="/" + username + "/calendar") Calendar
      span
        img(src='/icons/calendar-icon.png' width='20' height='20')
    .dropdown
      div(class='') More
        img(src='/icons/more.png' width='20' height='20')
      .ddcontent
        a.ddlink(href="/" + username + "/account") Account
        a.ddlink(href='/about') About FOTD
        a.ddlink(href="/" + username + "/help") Help
        a.ddlink(href='/logout') Logout
  .widgets
    if (pagename === 'dashboard')
      div
        include weather-widget
      div 
        include calendar-widget
