nav(role='navigation').internal
  a(class='iconhome' href= toParent + 'dashboard')
    img(src='/icons/smallicon.png' alt='Fit of the Day badge logo')
  .widgets
    if (pagename === 'dashboard')
      include weather
      include calendar
  a(class='navlinks' href= toParent + "dashboard") Dashboard
    span
      img(src="/icons/homeicon.png" width="20" height="20")
  a(class='navlinks' href= toParent + "closet") Closet
    span
      img(src="/icons/folder.png" width="20" height="20")
  .dropdown
    div(name="moreDropdown" class='navlinks') More
      img(src="/icons/more.png" width="20" height="20")
    .ddcontent
      a.ddlink(href= toParent + "settings") About This App
      a.ddlink(href= toParent + "settings") Password
      a.ddlink(href= toParent + "settings") Help
  a(class='navlinks' href= toParent + "settings") Logout
    span
      img(src="/icons/logout.png" width="20" height="20")
