nav.public
  .navtitle
    a(class='buttonleft' href='/' )
      img(src="/icons/smallicon.png")
    span Fit of the Day
    
  .authlinks
    a(name='signin' href='/login') Sign in
    a(name='signup' href='/signup') Sign Up
