nav(role='navigation').public
  .navtitle
    a(class='buttonleft' href='/' )
      img(src='/icons/smallicon.png' alt='Fit of the Day badge logo')
    span Fit of the Day
    
  .authlinks
    a(name='signin' href='/login') Sign in
    a(name='signup' href='/signup') Sign Up
