extends layout

block content
  include includes/internal-nav
  .container
    a.buttonright(href='/settings') 
      img(src='/icons/aboutbutton.png')
    a.buttonright(href='/closet') 
      img(src='/icons/passwordbutton.png')
    a.buttonright(href='/closet') 
      img(src='/icons/aboutbutton.png')
    a.buttonright(href='/closet') 
      img(src='/icons/helpbutton.png')
