extends layout

block content
  include includes/internal-nav
  .container
    a(class='buttonright' href= '/settings')  
      img(src='/icons/aboutbutton.png' alt='About this app button')
    a(class='buttonright' href='/closet') 
      img(src='/icons/passwordbutton.png' alt='Change password button')
    a(class='buttonright' href='/closet') 
      img(src='/icons/aboutbutton.png' alt='About this app button')
    a(class='buttonright' href='/closet') 
      img(src='/icons/helpbutton.png' alt='Help with this app button')

