extends layout

block content
  include includes/internal-nav
  .message
    if success
      if success.delete
        p.success Article deleted successfully
    else if error
      if error.create
        p.error Error: Article could not be created
      else if error.delete
        p.error Error: Article could not be deleted
  aside.closetControls
    a(id="newArticle" href="closet/article/new") New Article
    form(method="post" id="closetFilterForm")
      label(for="color") Color
      select(id="color" name="color")
        option(value="*" selected) -- color --
        option(value="red") Red 
        option(value="orange") Orange 
        option(value="yellow") Yellow 
        option(value="green") Green 
        option(value="blue") Blue 
        option(value="purple") Purple 
        option(value="brown") Brown 
        option(value="black") Black 
        option(value="white") White 
        option(value="multiple") Multiple 

      label(for="type") Type
      select(id="type" name="type")
        option(value="*" selected) -- type --
        option(value="1") Top
        option(value="2") Bottom
        option(value="3") One-Piece

      label(for="dresscode") Dress Code
      select(id="dresscode" name="dresscode")
        option(value="*" selected) -- dress code --
        option(value="1") Casual
        option(value="2") Semi-Formal
        option(value="3") Formal

      label(for="clean") Clean
      select(id="clean" name="clean")
        option(value="*" selected) -- clean --
        option(value="f") Clean
        option(value="t") Dirty

      label(for="tempMin") Temp. Minimum
      div.slidecontainerMin
        input(type="range" min="-15" max="120" value="-15" class="slider" id="tempMin" name="tempMin")
        span#minVal

      label(for="tempMax") Temp. Maximum
      div.slidecontainerMax
        input(type="range" min="-15" max="120" value="120" class="slider" id="tempMax" name="tempMax")
        span#maxVal

      input(id="submitFilters" type="submit" value="Filter")
  main
    include includes/closet-articles
  script(src="/scripts/closet_page.js", type="text/javascript")
