extends layout

block content
  include includes/internal-nav
  main(role='main')
    h1 Create Outfit
    .controls
      button#tb(value='topbtm' current='true') Top & Bottom
      button#single(value='single') Single
    form.outfitForm(action='' method='post') 
      include includes/outfit-form
    script(src='/scripts/create_outfit_page.js')
