extends layout

block content
  include includes/internal-nav
  .widgets
    include includes/weather
    include includes/calendar
  main
    each outfit in outfits    
      .outfit
        a(href="closet/article?id="+outfit.top.dataValues.article_id)
          img(src="/user_img/liam/" + outfit.top.dataValues.filepath)
        a(href="closet/article?id="+outfit.bottom.dataValues.article_id)
          img(src="/user_img/liam/" + outfit.bottom.dataValues.filepath)
  include includes/footer
  