extends layout

block content
  include includes/internal-nav
  main
    each o in outfits    
      .container2
          img(src="/user_img/liam/" + o.top.dataValues.filepath)
          img(src="/user_img/liam/" + o.bottom.dataValues.filepath)
  include includes/footer