extends layout

block content
  include includes/internal-nav
  main(role='main')
    .controls
      button(name="regenerate") &#128260; Refresh
      button(name="filter") &darr; Filter
      .triangle
      .filter
        form(action='' method='post' id='filterform')
          label(for='type') Type:
          select(id='type' name='type')
            option(value='' selected ) -- type --
            option(value='topbtm') Top/Bottom
            option(value='single') Single
          label(for='drscode') Dress Code:
          select(id='drscode' name='drscode')
            option(value='' selected) -- dress code --
            option(value='casual') Casual
            option(value='semi') Semi-formal
            option(value='formal') Formal
    section.recommendations
      include includes/recommendations
    if error
      .error
        p Error: #{error.msg}
  script(src="/scripts/dashboard_page.js")

    