extends layout

block content

  .widgets
    .weatherWidget 
      p #{weather}
    .calWidget
      p #{cal_status}
  
  .container
    p.sticky This is a placeholder
    p.sticky #{query_res}
    p.sticky This is another placeholder
