extends layout

block content
  .container
    p(class='sticky') This is a placeholder
    p(class='sticky weather') The weather is currently #{cur_temp}
    p(class='sticky calendar') #{cal_status}
    p(class='sticky query') #{query_res}
