extends layout

block content
  include includes/public-nav
  main(role='main')
    h1 Create. Plan. Enjoy.
    .scroller
      .scroll.col1
      .scroll.col2
      .scroll.col3
      
  include includes/public-footer