extends layout

block content

  .widgets
    .weatherWidget 
      p #{cur_temp}
    .calWidget
      p #{cal_status}
  
  .container
    p(class='sticky') This is a placeholder
    p(class='sticky') #{query_res}
    p(class='sticky') This is another placeholder
