extends layout

block content
  include includes/internal-nav
  .container
    a(class='buttonright' href= toParent + 'settings')  
      img(src="/icons/aboutbutton.png")
    a(class='buttonright' href='/closet') 
      img(src="/icons/passwordbutton.png")
    a(class='buttonright' href='/closet') 
      img(src="/icons/aboutbutton.png")
    a(class='buttonright' href='/closet') 
      img(src="/icons/helpbutton.png")

