extends layout

block content  
  img(class='loginstyle' src='/icons/icononly.png' alt='Fit of the Day Logo')
  h1 Fit of the Day - Sign Up
  main(role='main')
    if error
      p.error There was an error with registration
    .formblock
      <form action='/signup' method='POST' id='signupform'>
        <label for='email'>Email </label>
        <input id='email' type='email' name='email' placeholder='email' autofocus>
        <label for='username'>Username </label>
        <input id='username' type='text' name='username' placeholder='username'>
        <label for='password'>Password </label>
        <input id='password' type='password' name='password' placeholder='password'>
        <input type='submit' value='Sign Up'>
      </form>
    
    