@font-face {
  font-family: Nunito;
  src: url(../fonts/nunito/Nunito-Regular.ttf);
}
* {
  box-sizing: border-box;
}
:root {
  --main-bg: #ffffff;
  --main-fg: #000000;
  --fotd-green: rgb(166, 224, 154);
}
.screen-reader {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body {
  font-family: Nunito, Helvetica, sans-serif;
  margin: 0rem;
  background-color: var(--main-bg);
  color: var(--main-fg);
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.message > * {
  width: 95%;
  padding: 0.5rem;
  margin: 0.5rem auto;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.success {
  background-color: #c8eeb9;
  border: #729e60 solid 1px;
}
.error {
  background-color: #f0d0d0;
  border: #f58484 solid 1px;
}
.dashboard main > .error,
.closet main > .error,
.article main > .error {
  grid-column: 1/-1;
  width: 95%;
  margin: 0.5rem auto;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
a.ddlink {
  color: white;
  background-color: #669900;
  display: grid;
  grid-template-columns: 1;
  text-decoration: none;
  padding: 15px;
}
/*== INTERNAL NAV SPECIFIC STYLING ==========================================*/
nav.internal {
  display: grid;
  grid-template-columns: max-content auto auto;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 0.5rem;
  margin: auto 0rem;
  text-align: left;
}
nav.internal > a {
  margin: auto;
}
nav.internal > a.iconhome > img {
  width: 90%;
  max-width: max-content;
}
nav.internal .widgets {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  width: 90%;
  margin: auto;
}
nav.internal .widgets div {
  display: grid;
  margin: 0rem 1rem;
  text-align: center;
}
/* nav.internal .widgets .calWidget {} */
nav.internal .widgets .weatherWidget {
  grid-template-columns: repeat(1, 1fr);
}
nav.internal .widgets .weatherWidget span,
nav.internal .widgets .calWidget span {
  margin: auto 1rem;
}
nav.internal .widgets .weatherWidget img {
  margin: 0rem auto;
  max-width: 50px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  color: black;
}
nav.internal > .navlinks {
  display: flex;
  justify-content: flex-end;
}
nav.internal .navlinks > a,
nav.internal .navlinks > div {
  height: auto;
  margin: auto;
  padding: 0.5rem 0.8rem;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 10px;
}
nav.internal .navlinks > div.dropdown {
  border-radius: 10px 10px 0px 0px;
}
nav.internal .navlinks > a > span > img {
  margin-left: 0.25rem;
  vertical-align: -7%;
}
nav.internal .navlinks > *:hover {
  background: #669900;
}
nav.internal .dropdown {
  position: relative;
}
nav.internal .dropdown .ddcontent {
  display: none;
  position: absolute;
  text-align: left;
  width: max-content;
  left: 0rem;
  top: 2.6rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: black;
  border-radius: 0px 10px 10px 10px;
  z-index: 1;
}
nav.internal .dropdown:hover .ddcontent {
  display: block;
}
nav.internal .dropdown > .ddcontent > a:nth-child(1) {
  border-radius: 0px 10px 0px 0px;
}
nav.internal .dropdown > .ddcontent > a:nth-child(4) {
  border-radius: 0px 0px 10px 10px;
}

nav.internal .dropdown > .ddcontent > a:hover {
  color: var(--main-fg);
  background-color: #9fdd22;
}
nav.internal > .widgets {
  border-right: 2px solid white;
  border-left: 2px solid white;
}
/*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/
nav.public,
footer.public {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0rem;
  background-color: black;
  color: white;
}
nav.public .navtitle {
  display: flex;
  justify-content: flex-start;
}
nav.public .navtitle span {
  display: block;
  margin: auto 1rem;
  text-align: center;
  font-size: 1.5rem;
}
nav.public .authlinks {
  display: flex;
  justify-content: space-around;
}
nav.public .authlinks a {
  padding: 1rem;
  margin: auto 0rem;
  color: white;
}
footer.public {
  padding: 3rem;
  text-align: left;
  font-size: 0.8rem;
}
/*== INDEX SPECIFIC STYLING ==================================================*/
.index {
  display: grid;
  grid-template-columns: 1fr;
}
.index main > h1 {
  background-color: var(--main-bg);
  z-index: 2;
  width: 95%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 20vh;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(16, 16, 16, 0.1);
}
.index main {
  overflow: hidden;
  width: 100%;
  height: 80vh;
}
.index .scroller {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 1280px;
}
/*==== INDEX SCROLLING BG ==============================================*/
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -1280px, 0);
    transform: translate3d(0, -1280px, 0);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -1280px, 0);
    transform: translate3d(0, -1280px, 0);
  }
}
.index .scroll {
  z-index: -1;
  opacity: 60%;
  background-position: center center;
  background-repeat: repeat-y;
  background-size: fit;
  position: relative;
  top: -256px;
  left: 0px;
  height: 200%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.index .scroll.col1 {
  background-image: url('/col1.png');
  animation: scroll 11s linear infinite;
  -webkit-animation: scroll 11s linear infinite;
}
.index .scroll.col2 {
  background-image: url('/col2.png');
  animation: scroll 12s linear infinite;
  -webkit-animation: scroll 12s linear infinite;
}
.index .scroll.col3 {
  background-image: url('/col3.png');
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
}
/*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
.login h1,
.signup h1 {
  text-align: center;
}
.login main,
.signup main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.login nav,
.signup nav {
  display: none;
}
.formblock {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: auto;
  border: var(--fotd-green) solid 1px;
  border-radius: 25px;
  padding: 1rem;
}
.formblock input {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}
.formblock input[type='submit'] {
  padding: 1rem;
  -webkit-appearance: button;
}
.formblock label {
  text-align: left;
}
#loginform,
#signupform {
  display: grid;
  grid-template-columns: 1fr;
}
.login > .loginstyle,
.signup > .loginstyle {
  max-width: 100%;
  padding-top: 1.5rem;
  text-align: center;
  margin: auto;
  display: block;
}
/*== DASHBOARD SPECIFIC STYLING ==============================================*/
.dashboard main {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(1, 1fr);
  margin: auto auto 2rem auto;
}
.dashboard .recommendations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dashboard .filter {
  width: 100%;
  display: grid;
  margin: auto auto 1rem auto;
  grid-template-columns: subgrid;
  text-align: center;
  padding: 1rem;
}
.dashboard #filterform {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 10%;
}
.dashboard #filterform div {
  margin-right: auto;
}
.dashboard .filter label {
  display: none;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
  margin: auto 1rem;
}
.dashboard .filter input[type='submit'] {
  background-color: var(--fotd-green);
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  margin: auto;
  font-size: 0.8rem;
}

.dashboard .outfit {
  text-align: center;
  margin: auto 1rem;
}
.dashboard .outfit img {
  width: 100%;
  max-width: max-content;
  border-radius: 10px;
}
/*== CLOSET SPECIFIC STYLING =================================================*/

.closet main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.closet .article {
  cursor: pointer;
  background-color: #f8f8f8;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 1rem;
  max-width: 90%;
  border-radius: 5%;
  box-shadow: 0px 5px 5px rgba(16, 16, 16, 0.1);
}
.closet .cardimg img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}
.closet .cardtext {
  margin-top: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1.4rem;
}
.closet .cardtext .desc {
  padding-top: 0.5rem;
  font-size: 1rem;
}
.closet .closetControls {
  text-align: right;
  padding-right: 2rem;
}

/*== SETTINGS SPECIFIC STYLING ================================================*/

/*== ARTICLE SPECIFIC STYLING ================================================*/
.article main {
  margin-bottom: 1rem;
}
.article section.item-card {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0rem auto;
  width: 95%;
}
.article section.item-card p.desc {
  margin-top: 0rem;
}
.article .item-card .item-image {
  margin: 0rem auto;
  width: 100%;
  text-align: center;
}
.article .item-card > .item-image > img {
  max-width: 100%;
  height: 100%;
  text-align: center;
}
.article .item-card > .item-details {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: 0rem 1rem;
  width: 100%;
  margin: 0rem auto;
}
.article .item-card > .item-details > .fineDetails > .detailEntry {
  display: grid;
  grid-template-columns: min-content auto;
}
.article .item-card > .item-details .detailEntry > *:nth-child(1) {
  margin: auto 1rem auto 0rem;
  font-size: 2rem;
}
.article .item-card > .item-details .detailEntry > .colorSwatch {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.5) 2px solid;
}
.multiSwatch {
  background: linear-gradient(
    red,
    orange,
    yellow,
    var(--fotd-green),
    rgb(90, 153, 226),
    violet
  );
}
.article .item-card > .item-details > .options {
  display: flex;
  justify-content: space-between;
}
.article .item-card > .item-details > .options > * {
  background-color: var(--fotd-green);
  color: var(--main-fg-color);
  padding: 0.5rem 1rem;
  margin: auto 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
}
.createArticle main,
.editArticle main {
  max-width: 50%;
  margin: 0rem auto;
}
.createArticle main .articleForm > form,
.editArticle main .articleForm > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.createArticle main .articleForm > form > *,
.editArticle main .articleForm > form > * {
  padding: 0.2rem;
  margin: 0.5rem;
}
.createArticle main .articleForm > form input[type='submit'],
.createArticle main .articleForm a[role='button'],
.editArticle main .articleForm > form input[type='submit'],
.editArticle main .articleForm a[role='button'] {
  font-family: Nunito, Helvetica, sans-serif;
  background-color: var(--fotd-green);
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  color: var(--main-fg);
  text-align: center;
  text-decoration: none;
}
.createArticle main .articleForm > form .slider,
.editArticle main .articleForm > form .slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.createArticle main .articleForm > form .slider input[type='range'],
.editArticle main .articleForm > form .slider input[type='range'] {
  width: 100%;
}
.createArticle main .articleForm > form .slider span,
.editArticle main .articleForm > form .slider span {
  width: 4rem;
  text-align: right;
}
.createArticle main .articleForm > form input[type='submit']:disabled,
.editArticle main .articleForm > form input[type='submit']:disabled {
  background-color: #aaa;
}
.createArticle main .articleForm > form .tempAlert,
.editArticle main .articleForm > form .tempAlert {
  display: none;
  background-color: #fda3a3a4;
  grid-column: 1 / span 2;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
/* == Article Delete Dialog =========================== */
.article .dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.article .dialog .dialogContent {
  display: grid;
  background-color: var(--main-bg);
  margin: 15% auto;
  /* border: 1px solid var(--fotd-green); */
  border-radius: 12px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.55);
}
.article .dialog .dialogContent button {
  font-family: inherit;
  color: #aaaaaa;
  background-color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
}
.article .dialog .dialogContent button:hover {
  cursor: pointer;
}
.article .dialog .dialogContent > * {
  padding: 1rem;
}
.article .dialog .dialogContent .header {
  padding: 0.5rem 1rem;
  border-radius: 10px 10px 0px 0px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}
.article .dialog .dialogContent .header h3 {
  display: inline-block;
  margin: auto 0rem;
}
.article .dialog .dialogContent .dialogForm {
  padding: 1rem;
  display: flex;
}
.article .dialog .dialogContent .dialogForm > button {
  color: var(--main-fg);
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.2rem 1rem;
  border: 1px #aaa solid;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.article .dialog .dialogContent .dialogForm .confirm:hover,
.article .dialog .dialogContent .dialogForm .confirm:focus,
.article .dialog .dialogContent .dialogForm .confirm:active {
  color: #ffffff;
  background-color: #e24d4d;
  transition: background-color ease-in-out 0.1s;
}
.article .dialog .close {
  font-size: 1.3rem;
  padding: 0rem 0.5rem;
  border: none;
}
.article .dialog .close:hover,
.article .dialog .close:focus,
.article .dialog .close:active {
  color: black;
  cursor: pointer;
}
/* // Small screen / phone */
@media only screen and (min-width: 576px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/
  nav.public,
  footer.public {
    grid-template-columns: repeat(2, 1fr);
  }
  nav.public .authlinks {
    justify-content: flex-end;
    text-align: right;
  }
  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > h1 {
    width: 75%;
  }

  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 65%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(2, 1fr);
  }
  .closet .article {
    margin: 1rem auto;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  /*== ACCOUNT SPECIFIC STYLING ================================================*/
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card {
    grid-template-columns: max-content 1fr;
    margin-top: 1rem;
  }
  .article section.item-card > .item-image > img {
    height: auto;
  }
  .article section.item-card > :nth-child(2) {
    margin-left: 1rem;
  }
  .article section.item-card > .item-details > .options {
    flex-direction: column;
  }
  .article section.item-card > .item-details > .options > a {
    width: 80%;
    margin-top: 1rem;
    margin-left: 0em;
  }
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 75%;
  }
}
/* // Medium screen / tablet */
@media only screen and (min-width: 768px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > h1 {
    width: 65%;
  }
  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 50%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(3, 1fr);
  }
  .closet .article {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  /*== SETTINGS SPECIFIC STYLING ================================================*/
  .settings .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--main-fg);
    width: min-content;
    margin: auto;
    border-radius: 25px;
    box-shadow: 8px 8px 25px rgba(16, 16, 16, 0.3);
  }
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card > .item-details > .options {
    flex-direction: row;
    justify-content: flex-start;
    width: 15rem;
  }
  .article section.item-card > .item-details > .options > a {
    width: 100%;
    margin: auto 0.5rem;
  }
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 60%;
  }
}
/* // Large screen / desktop */
@media only screen and (min-width: 992px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > h1 {
    width: 40%;
  }
  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 33%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(4, 1fr);
  }
  .closet .article {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 50%;
  }
  /*== SETTINGS SPECIFIC STYLING ================================================*/
}
/* // Extra large screen / wide desktop */
@media only screen and (min-width: 1200px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/

  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 25%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(5, 1fr);
  }
  .closet .article {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  /*== ACCOUNT SPECIFIC STYLING ================================================*/
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 40%;
  }
}
/*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
