@font-face {
  font-family: Nunito;
  src: url(../fonts/nunito/Nunito-Regular.ttf);
}
* {
  box-sizing: border-box;
}
:root {
  --main-bg: #ffffff;
  --main-fg: #000000;
  --fotd-green: rgb(166, 224, 154);
}
body {
  font-family: Nunito, Helvetica, sans-serif;
  margin: 0em;
  background-color: var(--main-bg);
  color: var(--main-fg);
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.buttonleft {
  text-align: left;
}
.buttonright {
  text-align: right;
}
.error {
  background-color: #f0d0d0;
  border: #f58484 solid 1px;
  border-radius: 12px;
  padding: 1em;
}
/*== INTERNAL NAV SPECIFIC STYLING ==========================================*/
nav.internal {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 0em 1em;
  margin: 1em 0em;
  text-align: center;
  color: var(--main-fg);
}
nav.internal .widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 80%;
  margin: auto;
}
nav.internal .widgets div {
  margin: 0em 1em;
  background-color: var(--main-bg);
  color: var(--main-fg);
  text-align: center;
  box-shadow: 8px 8px 25px rgba(16, 16, 16, 0.3);
  border-radius: 10px;
}

/*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/
nav.public,
footer.public {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0em;
  background-color: black;
  color: white;
}
nav.public .navtitle {
  display: flex;
  justify-content: flex-start;
}
nav.public .navtitle span {
  display: block;
  margin: auto 1em;
  text-align: center;
  font-size: 1.5em;
}
nav.public .authlinks {
  display: flex;
  justify-content: space-around;
}
nav.public .authlinks a {
  padding: 1em;
  margin: auto 0em;
  color: white;
}
footer.public {
  padding: 3em;
  text-align: left;
  font-size: 0.8em;
}
/*== INDEX SPECIFIC STYLING ==================================================*/
.index {
  display: grid;
  grid-template-columns: 1fr;
}
.index main > h1 {
  background-color: var(--main-bg);
  z-index: 2;
  width: 95%;
  margin: auto;
  padding: 1em;
  text-align: center;
  position: relative;
  top: 20vh;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(16, 16, 16, 0.1);
}
.index main {
  overflow: hidden;
  width: 100%;
  height: 80vh;
}
.index .scroller {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 1280px;
}
/*==== INDEX SCROLLING BG ==============================================*/
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -1280px, 0);
    transform: translate3d(0, -1280px, 0);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -1280px, 0);
    transform: translate3d(0, -1280px, 0);
  }
}
.index .scroll {
  z-index: -1;
  opacity: 60%;
  background-position: center center;
  background-repeat: repeat-y;
  background-size: fit;
  position: relative;
  top: -256px;
  left: 0px;
  height: 200%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.index .scroll.col1 {
  background-image: url('/col1.png');
  animation: scroll 11s linear infinite;
  -webkit-animation: scroll 11s linear infinite;
}
.index .scroll.col2 {
  background-image: url('/col2.png');
  animation: scroll 12s linear infinite;
  -webkit-animation: scroll 12s linear infinite;
}
.index .scroll.col3 {
  background-image: url('/col3.png');
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
}
/*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
.login h1,
.signup h1 {
  text-align: center;
}
.login main,
.signup main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.login nav,
.signup nav {
  display: none;
}
.formblock {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: auto;
  border: black solid 1px;
  padding: 1em;
}
.formblock input {
  margin: 0.5em 0em;
  padding: 0.5em;
}
.formblock input[type='submit'] {
  padding: 1em;
  -webkit-appearance: button;
}
.formblock label {
  text-align: left;
}
#loginform,
#signupform {
  display: grid;
  grid-template-columns: 1fr;
}
/*== DASHBOARD SPECIFIC STYLING ==============================================*/
.dashboard main {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(3, 1fr);
  margin: auto auto 1em auto;
}
.dashboard .outfit {
  text-align: center;
  margin: auto 1em;
}
.dashboard .outfit img {
  width: 100%;
  max-width: max-content;
  border-radius: 10px;
}
.widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 75%;
  margin: auto auto 2em auto;
}
.widgets div {
  display: grid;
  margin: 0em 1em;
  background-color: var(--main-bg);
  color: var(--main-fg);
  text-align: center;
  box-shadow: 4px 4px 15px rgba(16, 16, 16, 0.3);
  border-radius: 10px;
}
.widgets .calWidget {
  padding: 1em;
}
.widgets .weatherWidget {
  grid-template-columns: auto max-content auto;
  padding: 1em;
}
.widgets .weatherWidget span,
.widgets .calWidget span {
  margin: auto 1em;
}
.widgets .weatherWidget img {
  margin: 0em auto;
  max-width: 50px;
  width: 100%;
  background-color: darkgray;
  border-radius: 10px;
}
/*== CLOSET SPECIFIC STYLING =================================================*/

.closet main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.closet .article {
  cursor: pointer;
  background-color: #f8f8f8;
  text-align: center;
  margin: 1em auto;
  padding: 1em 1em;
  max-width: 90%;
  border-radius: 5%;
  box-shadow: 0px 5px 5px rgba(16, 16, 16, 0.1);
}
.closet .cardimg img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}
.closet .cardtext {
  margin-top: 1em;
  padding: 0em 1em 0em 1em;
  font-size: 1.3em;
}
.closet .cardtext .desc {
  padding-top: 0.4em;
  font-size: 0.8em;
}
.closet .closetControls {
  text-align: right;
  padding-right: 2em;
}

/*== SETTINGS SPECIFIC STYLING ================================================*/

/*== ARTICLE SPECIFIC STYLING ================================================*/
.article section.item-card {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0em auto;
  width: 95%;
}
.article section.item-card p.desc {
  margin-top: 0em;
}
.article .item-card .item-image {
  margin: 0em auto;
  width: 100%;
  text-align: center;
}
.article .item-card .item-image img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
}
.article .item-card .item-details {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: 0em 1em;
  width: 100%;
  margin: 0em auto;
}
.article .item-card .item-details .options a {
  display: inline-block;
  background-color: var(--fotd-green);
  color: var(--main-fg-color);
  padding: 0.5em 1em;
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
main.newArticle {
  max-width: 50%;
  margin: 0em auto;
}
main.newArticle .articleCreate > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main.newArticle .articleCreate > form > * {
  padding: 0.2em;
  margin: 0.5em;
}
main.newArticle .articleCreate > form input[type='submit'] {
  grid-column: 1 / span 2;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--fotd-green);
  padding: 1em;
  font-size: 0.8em;
  border-radius: 10px;
  border: none;
}

/* // Small screen / phone */
@media only screen and (min-width: 576px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/
  nav.public,
  footer.public {
    grid-template-columns: repeat(2, 1fr);
  }
  nav.public .authlinks {
    justify-content: flex-end;
    text-align: right;
  }
  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > h1 {
    width: 75%;
  }

  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 65%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(2, 1fr);
  }
  .closet .article {
    margin: 1em auto;
    padding: 1em 1em;
    max-width: 100%;
  }
  /*== ACCOUNT SPECIFIC STYLING ================================================*/
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .article section.item-card > :nth-child(2) {
    margin-left: 1em;
  }
}
/* // Medium screen / tablet */
@media only screen and (min-width: 768px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > h1 {
    width: 65%;
  }
  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 50%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(3, 1fr);
  }
  .closet .article {
    margin: 1em 1em;
    padding: 1em 1em;
    max-width: 100%;
  }
  /*== SETTINGS SPECIFIC STYLING ================================================*/
  .settings .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--main-fg);
    width: min-content;
    margin: auto;
    border-radius: 25px;
    box-shadow: 8px 8px 25px rgba(16, 16, 16, 0.3);
  }
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card {
    grid-template-columns: 40% 60%;
  }
}
/* // Large screen / desktop */
@media only screen and (min-width: 992px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > h1 {
    width: 40%;
  }
  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 33%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(4, 1fr);
  }
  .closet .article {
    margin: 1em 1em;
    padding: 1em 1em;
    max-width: 100%;
  }
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card {
    grid-template-columns: 35% 65%;
  }
  /*== SETTINGS SPECIFIC STYLING ================================================*/
}
/* // Extra large screen / wide desktop */
@media only screen and (min-width: 1200px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/

  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 25%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main {
    grid-template-columns: repeat(5, 1fr);
  }
  .closet .article {
    margin: 1em 1em;
    padding: 1em 1em;
    max-width: 100%;
  }
  /*== ACCOUNT SPECIFIC STYLING ================================================*/
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card {
    grid-template-columns: 30% 70%;
  }
}
