@font-face {
  font-family: Nunito;
  src: url(../fonts/nunito/Nunito-Regular.ttf);
}
* {
  box-sizing: border-box;
}
:root {
  --main-bg: #ffffff;
  --main-fg: #000000;
  --fotd-green: rgb(166, 224, 154);
  --fotd-green-lt: rgb(176, 234, 165);
  --fotd-green-med: rgb(156, 214, 144);
  --fotd-green-dark: rgb(100, 150, 110);
  --fotd-border-radius: 10px;
}
.screen-reader {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.img-btn {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 32px;
  width: 32px;
  border: none;
}
body {
  font-family: Nunito, Helvetica, sans-serif;
  margin: 0rem;
  background-color: var(--main-bg);
  color: var(--main-fg);
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.message > * {
  width: 95%;
  padding: 0.5rem;
  margin: 0.5rem auto;
  border-radius: var(--fotd-border-radius);
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.success {
  background-color: #c8eeb9;
  border: #729e60 solid 1px;
}
.error {
  background-color: #f0d0d0;
  border: #f58484 solid 1px;
}
.dashboard main > .error,
.closet main > .error,
.article main > .error {
  grid-column: 1/-1;
  width: 95%;
  margin: 0.5rem auto;
  font-weight: bold;
  text-align: center;
  border-radius: var(--fotd-border-radius);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/*== INTERNAL NAV SPECIFIC STYLING ==========================================*/
nav.internal {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #000000;
  color: #ffffff;
  padding: 0.2rem 0rem 0.5rem 0rem;
  margin: auto 0rem;
  text-align: left;
}
nav.internal > .widgets {
  display: none;
}
.dashboard nav.internal > .widgets {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 100%;
  border-top: 2px #404040 solid;
}
nav.internal > .widgets div {
  display: grid;
  margin: 0rem;
}
nav.internal .widgets .cal-widget,
nav.internal .widgets .weatherWidget {
  display: flex;
  max-width: 100%;
  background-color: inherit;
  justify-content: space-between;
  overflow: hidden;
}
nav.internal .widgets .weatherWidget span,
nav.internal .widgets .cal-widget > span {
  margin: auto;
}
/*== WEATHER WIDGET STYLES ============================== */
nav.internal .widgets .weatherWidget img {
  margin: auto;
  border-radius: var(--fotd-border-radius);
  max-width: 50px;
  max-height: 50px;
}
nav.internal .widgets .weatherWidget .emoji-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  margin: auto 0.25rem;
  padding: 0rem;
  max-width: 50px;
  max-height: 50px;
}
nav.internal .widgets .weatherWidget > .info {
  text-align: left;
  margin: 0;
  padding: 0rem 0rem 0rem 0.5rem;
}
nav.internal .widgets .weatherWidget > .info > .city {
  font-size: 1.75rem;
}
nav.internal .widgets .weatherWidget > .info > .desc {
  width: 100%;
  color: #c2c2c2;
  font-size: 1rem;
}
nav.internal .widgets .weatherWidget > .data {
  display: flex;
  flex-flow: row wrap;
}
nav.internal .widgets .weatherWidget > .data > .temp {
  display: flex;
  flex: row wrap;
  align-items: stretch;
  margin: auto;
}
nav.internal .widgets .weatherWidget > .data > .temp > .num {
  margin-top: 0rem;
  font-size: 2rem;
}
nav.internal .widgets .weatherWidget > .data > .temp > .unit {
  margin-top: 0rem;
  font-size: 1rem;
}
/*== CALENDAR WIDGET STYLES ============================= */
nav.internal .widgets .cal-widget {
  position: relative;
  margin: 0.5rem 0 0 0;
}
nav.internal .widgets .cal-widget .event {
  background-color: #282828;
  color: var(--main-bg);
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  padding: 0.25rem 0.5rem;
  text-align: left;
}
nav.internal .widgets .cal-widget .event .event-detail.name {
  font-size: 1.1rem;
  font-weight: bold;
}
nav.internal .widgets .cal-widget .event .event-detail.dress-code {
  font-size: 1rem;
}
nav.internal .widgets .cal-widget .event .event-detail.start,
nav.internal .widgets .cal-widget .event .event-detail.end {
  font-size: 0.8rem;
}
nav.internal .widgets .cal-widget .controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 50%;
  width: 100%;
  opacity: 0;
}
nav.internal .widgets .cal-widget:hover .controls {
  opacity: 100%;
}
nav.internal .widgets .cal-widget .controls div {
  position: absolute;
  width: 100%;
}
nav.internal .widgets .cal-widget .controls button {
  position: relative;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
nav.internal .widgets .cal-widget .controls div:first-child button {
  margin: auto auto auto 0.15rem;
}
nav.internal .widgets .cal-widget .controls div:last-child button {
  margin: auto 0.15rem auto auto;
}
/* ======================================================= */
nav.internal > .navlinks {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
nav.internal .navlinks > a,
nav.internal .navlinks > div {
  height: auto;
  margin: auto;
  padding: 0.5rem 0.8rem;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: var(--fotd-border-radius);
}
nav.internal .navlinks > div.dropdown {
  border-radius: var(--fotd-border-radius) var(--fotd-border-radius) 0px 0px;
}
nav.internal .navlinks > a > span > img {
  margin-left: 0.25rem;
  vertical-align: -7%;
}
nav.internal .navlinks > *:hover {
  background: var(--fotd-green-dark);
}
nav.internal > a.iconhome {
  padding: 0;
  margin: 0.25rem auto 0.5rem auto;
  height: 3rem;
}
nav.internal > a.iconhome > img {
  max-width: 100%;
  max-height: 100%;
}
nav.internal .dropdown {
  position: relative;
}
nav.internal .dropdown .ddcontent {
  display: none;
  position: absolute;
  text-align: left;
  width: max-content;
  left: 0rem;
  top: 2.6rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: black;
  border-radius: 0px var(--fotd-border-radius) var(--fotd-border-radius)
    var(--fotd-border-radius);
  z-index: 1;
}
nav.internal .dropdown:hover .ddcontent {
  display: block;
}
nav.internal .dropdown > .ddcontent > a:nth-child(1) {
  border-radius: 0px var(--fotd-border-radius) 0px 0px;
}
nav.internal .dropdown > .ddcontent > a:nth-child(4) {
  border-radius: 0px 0px var(--fotd-border-radius) var(--fotd-border-radius);
}
nav.internal .dropdown > .ddcontent > a.ddlink {
  color: white;
  background-color: var(--fotd-green-dark);
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  padding: 15px;
}
nav.internal .dropdown > .ddcontent > a:hover {
  color: var(--main-fg);
  background-color: var(--fotd-green);
}

/*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/
nav.public,
footer.public {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0rem;
  background-color: black;
  color: white;
  width: 100%;
}
nav.public .navtitle {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;
}
nav.public .navtitle span {
  display: block;
  margin: auto 1rem;
  text-align: center;
  font-size: 1.5rem;
}
nav.public .authlinks {
  display: flex;
  justify-content: space-around;
}
nav.public .authlinks a {
  padding: 1rem;
  margin: auto 0rem;
  color: white;
}
footer.public {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: left;
  font-size: 0.8rem;
}
/*== INDEX SPECIFIC STYLING ==================================================*/
.index {
  display: grid;
  grid-template-columns: 1fr;
}
.index main {
  overflow: hidden;
  width: 100%;
  height: 80vh;
}
.index > main > .hero-card {
  background-color: var(--main-bg);
  z-index: 2;
  width: 95%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 10%;
  border: 1px #e0e0e0 solid;
  border-radius: var(--fotd-border-radius);
  box-shadow: 0px 5px 5px rgba(16, 16, 16, 0.1);
}
.index > main > .hero-card > .hero-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.index > main > .hero-card > .hero-buttons > a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-fg);
  margin: 1.75rem 0rem;
  cursor: pointer;
  background-color: var(--fotd-green);
  border-radius: var(--fotd-border-radius);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: 1px #e0e0e0 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.index > main > .hero-card > .hero-buttons > a:first-child {
  background-color: white;
  border: 1.5px #e0e0e0 solid;
  color: #777777;
}
.index > main > .hero-card > .hero-buttons > a:hover {
  background-color: var(--fotd-green-lt);
  border-color: #777777;
  transition: linear 0.1s;
}
.index > main > .hero-card > .hero-buttons > a:first-child:hover {
  background-color: white;
  color: black;
  border-color: #777777;
  transition: linear 0.1s;
}
.index > main > .hero-card > .hero-buttons > a:active {
  box-shadow: none;
}

.index .scroller {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 1280px;
}
/*==== INDEX SCROLLING BG ==============================================*/
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -1280px, 0);
    transform: translate3d(0, -1280px, 0);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -1280px, 0);
    transform: translate3d(0, -1280px, 0);
  }
}
.index .scroll {
  z-index: -1;
  opacity: 60%;
  background-position: center center;
  background-repeat: repeat-y;
  background-size: fit;
  position: relative;
  top: -256px;
  left: 0px;
  height: 200%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.index .scroll.col1 {
  background-image: url('/col1.png');
  animation: scroll 11s linear infinite;
  -webkit-animation: scroll 11s linear infinite;
}
.index .scroll.col2 {
  background-image: url('/col2.png');
  animation: scroll 12s linear infinite;
  -webkit-animation: scroll 12s linear infinite;
}
.index .scroll.col3 {
  background-image: url('/col3.png');
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
}
/*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
.login h1,
.signup h1 {
  text-align: center;
}
.login main,
.signup main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.login nav,
.signup nav {
  display: none;
}
.formblock {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: auto auto 1rem auto;
  border: var(--fotd-green) solid 1px;
  border-radius: var(--fotd-border-radius);
  padding: 1rem;
}
.formblock input {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}
.formblock input[type='submit'] {
  padding: 1rem;
  background-color: var(--fotd-green);
  color: black;
  border: none;
  border-radius: var(--fotd-border-radius);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.formblock label {
  text-align: left;
}
#loginform,
#signupform {
  display: grid;
  grid-template-columns: 1fr;
}
.login > .loginstyle,
.signup > .loginstyle {
  max-width: 100%;
  padding-top: 1.5rem;
  text-align: center;
  margin: auto;
  display: block;
}
/*== ARTICLE CARD STYLING ====================================================*/
.card {
  position: relative;
  background-color: #f6f6f6;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 1rem;
  border-radius: var(--fotd-border-radius);
  box-shadow: 0px 3px 5px rgba(16, 16, 16, 0.1);
}
.card input.action,
.card button.action {
  position: absolute;
  top: 5px;
  left: 5px;
}
.card button.favorite {
  top: 10px;
  left: 10px;
  background-image: url(/icons/fav-unfilled.png);
}
.card button.favorite[favorite='favorite'] {
  background-image: url(/icons/fav-filled.png);
}
.cardimg img {
  width: 100%;
  border-radius: var(--fotd-border-radius);
}
.cardtext {
  margin-top: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1.4rem;
}
.cardtext .desc {
  padding-top: 0.5rem;
  font-size: 1rem;
}
/*== DASHBOARD SPECIFIC STYLING ==============================================*/
.dashboard main {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem auto;
}
.dashboard .recommendations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.dashboard .filter > form {
  max-width: 100%;
  display: none;
  flex-flow: column nowrap;
  border-radius: var(--fotd-border-radius);
  background-color: #e0e0e0;
  text-align: center;
  margin-top: 0.25rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.dashboard .filter > form > label {
  display: none;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
  margin: auto 1rem;
}
.dashboard .filter > form > select {
  margin-top: 1rem;
}
/* DASHBOARD OUTFIT CARDS ====================================================*/
.dashboard .outfit {
  flex: 1 1 0px;
  max-width: 100%;
  text-align: center;
  margin: 1rem;
}
.dashboard .card {
  margin: auto;
  width: auto;
}
.dashboard .card .cardimg img {
  max-width: 100%;
  max-height: 100%;
}
.dashboard .card.single {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard .controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
  margin: 0rem auto;
}
.dashboard .controls button {
  border-radius: var(--fotd-border-radius);
  background-color: var(--fotd-green);
  flex: 1;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0.25rem 0rem 0.25rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.dashboard .controls .filter {
  width: 100%;
}
.dashboard .controls button:active {
  background-color: var(--fotd-green-med);
}
.dashboard .controls button[name='filter'] {
  background-color: var(--main-fg);
  color: var(--main-bg);
}
/*== CLOSET SPECIFIC STYLING =================================================*/
.closet main,
.outfits main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.closet .article.card {
  cursor: pointer;
  max-width: 90%;
}
.closet .closetControls {
  text-align: right;
  width: 98%;
  margin: 1rem auto 0rem auto;
}
.closet .closetControls > .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
}
.closet .closetControls > .buttons > .operations > *,
.closet .closetControls > .buttons > button {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem;
  border-radius: var(--fotd-border-radius);
  text-decoration: none;
}
.closet .closetControls > .buttons #viewFilter {
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.closet .closetControls > .buttons > .operations {
  display: flex;
  flex-flow: row wrap;
}
.closet .closetControls > .buttons > .operations > * {
  background-color: var(--fotd-green);
  color: black;
  position: relative;
}
.closet .closetControls > .buttons > .operations > .laundry {
  cursor: pointer;
  background-color: rgb(225, 225, 225);
  background-image: url('/icons/laundry-day.png');
  background-position-x: center;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: var(--fotd-border-radius);
}
.closet .closetControls > .buttons > .operations > .laundry:hover {
  background-color: rgb(185, 185, 185);
  color: var(--main-fg);
  transition: background-color ease-in 0.15s;
}
.closet .closetControls > .buttons > .operations > .laundry:hover::before {
  content: attr(tooltip);
  background-color: var(--main-fg);
  color: var(--main-bg);
  position: absolute;
  text-align: center;
  width: 175px;
  top: 2.5rem;
  left: calc(calc(175px / -2) + 20px);
  z-index: 1;
  padding: 0.5rem;
  border-radius: var(--fotd-border-radius);
}
.closet .closetControls > .buttons > .operations > .laundry:hover::after {
  border: 10px solid;
  content: '';
  position: absolute;
  z-index: 2;
  top: calc(10px * 2);
  left: calc(calc(10px / -2) + 20px);
  border-color: transparent transparent black transparent;
}
.closet .closetControls > .buttons > .operations > a:hover {
  background-color: var(--fotd-green-lt);
  color: var(--main-fg);
  transition: background-color ease-in 0.15s;
}
.closet .closetControls > .filterForm {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: var(--fotd-border-radius);
}
.closet .closetControls > .filterForm > div {
  margin: 0.5rem;
}
.closet .closetControls > .filterForm > div > * {
  width: 100%;
}
.closet .closetControls > .filterForm > div > label {
  display: inline-block;
  text-align: left;
}
.closet .closetControls > .filterForm > .temperature {
  display: block;
  text-align: center;
}
.closet .closetControls > .filterForm > .temperature .sliderContainer {
  display: grid;
}
.closet .closetControls > .filterForm > .formControls {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.closet .closetControls > .filterForm > .formControls > input {
  background-color: white;
  font-size: 1rem;
  width: auto;
  padding: 0.3rem 0.5rem;
  border: black solid 1px;
  border-radius: var(--fotd-border-radius);
  margin: auto 0.5rem auto 0rem;
  cursor: pointer;
}
.closet .closetControls > .filterForm > .formControls > input:nth-child(1) {
  background-color: black;
  color: white;
  border: none;
}
/*== OUTFIT SPECIFIC STYLING ===========================================*/
.outfit > main > .controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  position: relative;
}
.outfit > main > .controls > button {
  border: none;
  border-bottom: 3px solid #e0e0e0;
  cursor: pointer;
  padding: 1rem 1rem 0.75rem 1rem;
}
.outfit > main > .controls > button[current='true'] {
  border-bottom: 3px solid var(--fotd-green-med);
  background-color: var(--fotd-green);
}
.outfit > main > .controls > button:hover {
  border-color: var(--fotd-green-med);
  transition: border-color 0.3s ease-out;
}
.outfitForm {
  display: grid;
  grid-template-columns: 1fr;
}
.outfitForm .staticContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  /* Move fixed postition btn in front of fields*/
  z-index: 1;
  width: 100%;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}
.outfitForm .staticContainer > input[type='submit'] {
  cursor: pointer;
  border-radius: var(--fotd-border-radius);
  background-color: rgb(255, 196, 145);
  width: 60%;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 3px solid rgb(209, 138, 77);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.outfitForm .staticContainer > input[type='submit']:active {
  height: calc(height-3px);
  border: none;
}
.outfitForm > .cardContainers .single {
  display: none;
}
.outfitForm > .cardContainers fieldset {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.25rem 0rem 2rem 0rem;
  border: none;
  border-radius: var(--fotd-border-radius);
  margin: 0rem 1.5rem 2.5rem 1.5rem;
  overflow: hidden;
  overflow-y: scroll;
}
.outfitForm > .cardContainers fieldset > legend {
  border-radius: var(--fotd-border-radius);
  background-color: #efefef;
  padding: 0.25rem 0rem;
  width: 100%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
}
.outfitForm > .cardContainers fieldset > .card {
  display: grid;
  margin: 0.5rem;
  grid-template-columns: 4fr 3fr;
}
/*== SETTINGS SPECIFIC STYLING ================================================*/

/*== ARTICLE SPECIFIC STYLING ================================================*/
.article main {
  margin-bottom: 1rem;
}
.article section.item-card {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0rem auto;
  width: 95%;
}
.article section.item-card p.desc {
  margin-top: 0rem;
}
.article .item-card .item-image {
  margin: 0rem auto;
  width: 100%;
  text-align: center;
}
.article .item-card > .item-image > img {
  max-width: 100%;
  height: 100%;
  text-align: center;
}
.article .item-card > .item-details {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: 0rem 1rem;
  width: 100%;
  margin: 0rem auto;
}
.article .item-card > .item-details > .fineDetails > .detailEntry {
  display: grid;
  grid-template-columns: min-content auto;
}
.article .item-card > .item-details .detailEntry > *:nth-child(1) {
  margin: auto 1rem auto 0rem;
  font-size: 2rem;
}
.article .item-card > .item-details .detailEntry > .colorSwatch {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.5) 2px solid;
}
.multiSwatch {
  background: linear-gradient(
    red,
    orange,
    yellow,
    var(--fotd-green),
    rgb(90, 153, 226),
    violet
  );
}
.article .item-card > .item-details > .options {
  display: flex;
  justify-content: space-between;
}
.article .item-card > .item-details > .options > * {
  background-color: var(--fotd-green);
  color: var(--main-fg-color);
  padding: 0.5rem 1rem;
  margin: auto 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: var(--fotd-border-radius);
  width: 100%;
}
.createArticle main,
.editArticle main {
  max-width: 100%;
  margin: 0rem auto;
}
.createArticle main .articleForm > form,
.editArticle main .articleForm > form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.2rem;
}
.createArticle main .articleForm > form > *,
.editArticle main .articleForm > form > * {
  padding: 0.2rem;
  margin: 0.2rem;
}
.createArticle main .articleForm > form input[type='submit'],
.createArticle main .articleForm a[role='button'],
.editArticle main .articleForm > form input[type='submit'],
.editArticle main .articleForm a[role='button'] {
  font-family: Nunito, Helvetica, sans-serif;
  background-color: var(--fotd-green);
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: var(--fotd-border-radius);
  border: none;
  color: var(--main-fg);
  text-align: center;
  text-decoration: none;
}
.createArticle main .articleForm > form .slider,
.editArticle main .articleForm > form .slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.createArticle main .articleForm > form .slider input[type='range'],
.editArticle main .articleForm > form .slider input[type='range'] {
  width: 100%;
}
.createArticle main .articleForm > form .slider span,
.editArticle main .articleForm > form .slider span {
  width: 4rem;
  text-align: right;
}
.createArticle main .articleForm > form input[type='submit']:disabled,
.editArticle main .articleForm > form input[type='submit']:disabled {
  background-color: #aaa;
}
.createArticle main .articleForm > form .tempAlert,
.editArticle main .articleForm > form .tempAlert {
  display: none;
  background-color: #fda3a3a4;
  grid-column: 1 / span 2;
  border-radius: var(--fotd-border-radius);
  padding: 0.5rem 1rem;
}
/* == Article Delete Dialog =========================== */
.article .dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.article .dialog .dialogContent {
  display: grid;
  background-color: var(--main-bg);
  margin: 15% auto;
  border-radius: var(--fotd-border-radius);
  width: 90%;
  box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.55);
}
.article .dialog .dialogContent button {
  font-family: inherit;
  color: #aaaaaa;
  background-color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
}
.article .dialog .dialogContent button:hover {
  cursor: pointer;
}
.article .dialog .dialogContent > * {
  padding: 1rem;
}
.article .dialog .dialogContent .header {
  padding: 0.5rem 1rem;
  border-radius: var(--fotd-border-radius) var(--fotd-border-radius) 0px 0px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}
.article .dialog .dialogContent .header h3 {
  display: inline-block;
  margin: auto 0rem;
}
.article .dialog .dialogContent .dialogForm {
  padding: 1rem;
  display: flex;
}
.article .dialog .dialogContent .dialogForm > button {
  color: var(--main-fg);
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.2rem 1rem;
  border: 1px #aaa solid;
  border-radius: var(--fotd-border-radius);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.article .dialog .dialogContent .dialogForm .confirm:hover,
.article .dialog .dialogContent .dialogForm .confirm:focus,
.article .dialog .dialogContent .dialogForm .confirm:active {
  color: #ffffff;
  background-color: #e24d4d;
  transition: background-color ease-in-out 0.1s;
}
.article .dialog .close {
  font-size: 1.3rem;
  padding: 0rem 0.5rem;
  border: none;
}
.article .dialog .close:hover,
.article .dialog .close:focus,
.article .dialog .close:active {
  color: black;
  cursor: pointer;
}
/*== CALENDAR DIALOG STYLING ==========================================*/
.calendar .dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.calendar .dialog .yeet {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--main-bg);
  margin: 15% auto;
  border-radius: var(--fotd-border-radius);
  width: 30%;
  box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.55);
}

.calendar .dialog .yeet button,
.calendar .dialog .yeet h2 {
  grid-column: 1 / span 2;
}

/* // Small screen / phone */
@media only screen and (min-width: 576px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/
  nav.public,
  footer.public {
    grid-template-columns: repeat(2, 1fr);
  }
  nav.public .authlinks {
    justify-content: flex-end;
    text-align: right;
  }
  nav.internal {
    grid-template-columns: 1fr 8fr;
  }
  .dashboard nav.internal > .widgets {
    display: flex;
    margin: 0;
    justify-content: space-between;
    text-align: center;
    max-width: 100%;
    grid-column: 1 / span 2;
  }
  nav.internal > .widgets > * {
    min-width: 33%;
    max-width: 50%;
  }

  nav.internal > .navlinks {
    grid-row: auto;
  }
  nav.internal .widgets .cal-widget {
    position: relative;
    margin: 0.5rem 0.5rem 0 0;
  }
  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > .hero-card {
    width: 75%;
  }
  .index > main > .hero-card > .hero-buttons {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    margin: auto;
  }

  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 65%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/
  .dashboard .recommendations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  /* DASHBOARD OUTFIT CARDS ====================================================*/
  .dashboard .outfit {
    margin: 0.5rem;
    max-width: 35%;
  }
  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main,
  .outfits main {
    grid-template-columns: repeat(2, 1fr);
  }
  .closet .article {
    margin: 1rem auto;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  /*== ACCOUNT SPECIFIC STYLING ================================================*/
  /*== OUTFITS LIST STYLING  =====================================================*/
  .outfits main > h1 {
    grid-column: 1/-1;
    margin: 1rem 1rem 0rem 1rem;
  }
  .outfits main .outfit {
    margin: 1rem;
  }
  .outfits main .outfit .card {
    height: 100%;
  }
  /*== OUTFIT CREATE FORM  =====================================================*/
  .outfitForm > .cardContainers fieldset {
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .outfitForm > .cardContainers fieldset > .card {
    grid-template-columns: 1fr;
  }
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card {
    grid-template-columns: max-content 1fr;
    margin-top: 1rem;
  }
  .article section.item-card > .item-image > img {
    height: auto;
  }
  .article section.item-card > :nth-child(2) {
    margin-left: 1rem;
  }
  .article section.item-card > .item-details > .options {
    flex-direction: column;
  }
  .article section.item-card > .item-details > .options > a {
    width: 80%;
    margin-top: 1rem;
    margin-left: 0em;
  }
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 75%;
  }
}
/* // Medium screen / tablet */
@media only screen and (min-width: 768px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > .hero-card {
    width: 65%;
  }
  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 50%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main,
  .outfits main {
    grid-template-columns: repeat(3, 1fr);
  }
  .closet .article {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  .closet .closetControls > .filterForm {
    grid-template-columns: repeat(5, 1fr);
  }
  .closet .closetControls > .filterForm > .formControls {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 2;
  }
  /*== SETTINGS SPECIFIC STYLING ================================================*/
  .settings .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--main-fg);
    width: min-content;
    margin: auto;
    border-radius: 25px;
    box-shadow: 8px 8px 25px rgba(16, 16, 16, 0.3);
  }
  /*== OUTFIT CREATE FORM  =====================================================*/
  .outfitForm > .cardContainers fieldset {
    grid-template-columns: repeat(3, 1fr);
  }
  .outfitForm > .cardContainers fieldset > .card {
    grid-template-columns: 1fr;
  }
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .article section.item-card > .item-details > .options {
    flex-direction: row;
    justify-content: flex-start;
    width: 15rem;
  }
  .article section.item-card > .item-details > .options > a {
    width: 100%;
    margin: auto 0.5rem;
  }
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 60%;
  }
}
/* // Large screen / desktop */
@media only screen and (min-width: 992px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/
  .index main > .hero-card {
    width: 40%;
    max-width: 35rem;
  }
  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 33%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/
  .dashboard main {
    flex-direction: row;
    margin: 0.5rem 1.5rem;
  }
  .dashboard .controls {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  .dashboard .recommendations {
    flex: 4;
  }
  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main,
  .outfits main {
    grid-template-columns: repeat(4, 1fr);
  }
  .closet .article {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  .createArticle main,
  .editArticle main {
    max-width: 50%;
    margin: 0rem auto;
  }
  .createArticle main .articleForm > form,
  .editArticle main .articleForm > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .createArticle main .articleForm > form > *,
  .editArticle main .articleForm > form > * {
    margin: 0.5rem;
  }
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 50%;
  }
  /*== SETTINGS SPECIFIC STYLING ================================================*/
  /*== OUTFIT CREATE FORM  =====================================================*/
  .outfitForm > .cardContainers fieldset {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* // Extra large screen / wide desktop */
@media only screen and (min-width: 1200px) {
  /*== PUBLIC LAYOUT SPECIFIC STYLING ==========================================*/

  /*== INDEX SPECIFIC STYLING ==================================================*/

  /*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
  .formblock {
    width: 25%;
  }
  /*== DASHBOARD SPECIFIC STYLING ==============================================*/

  /*== CLOSET SPECIFIC STYLING =================================================*/
  .closet main,
  .outfits main {
    grid-template-columns: repeat(5, 1fr);
  }
  .closet .article {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  /*== ACCOUNT SPECIFIC STYLING ================================================*/
  /*== ARTICLE SPECIFIC STYLING ================================================*/
  /* == Article Delete Dialog =========================== */
  .article .dialog .dialogContent {
    width: 40%;
  }
  /*== OUTFIT CREATE FORM  =====================================================*/
  .outfitForm > .cardContainers fieldset {
    grid-template-columns: repeat(5, 1fr);
  }
}
/*== LOGIN & SIGNUP SPECIFIC STYLING ===================================*/
