extends layout

block content
  include includes/internal-nav
  main(role='main')

    form(action=action method='post' id='accountForm')
      
      label(for='email') Email
      input(id='email' type='text' name='email' placeholder='email' required autofocus)
      
      label(for='password') Password
      input(id='password' type='password' name='password' placeholder='password' required)
  
      form(method='post' id='weatherZipCode')
        label(for='zipCode') Set new zip code 
        input(id='zipCodeInput' type='text' name='zipCodeInput' placeholder='zip code' pattern='[0-9]*' maxlength='5')
        button(type="button" id="locate-me") Use Current Location
        input(id='submitZipCode' type='submit' value='Save')  
        input(type='reset' value='Reset')  

      p.msg
      script(src="/scripts/account_page.js")
