extends layout
block content
  img.loginstyle(src='/icons/icononly.png' alt='Fit of the Day Logo')
  h1 Fit of the Day - #{pagename.replace(/^\w/, (c) => c.toUpperCase())}
  main(role='main')
    if error
      p.error Incorrect username/password
    .formblock
      form#loginform(action='/login' method='post')
        label(for='username') Username
        input#username(
          type='text'
          name='username'
          placeholder='username'
          autofocus
        )
        label(for='password') Password
        input#password(type='password' name='password' placeholder='password')
        input(type='submit' value='Login')

    p New User? #[a(href='/signup') Sign Up]
